.projects_wrap {
  position: relative;
}
#icon_box {
  display: flex;
  position: absolute;
  top: 0;
  right: 15px;
}
#icon_box a {
  width: 34px;
  height: 34px;
  margin-right: 10px;
  display: block;
}

#icon_box .icon_tweet {
  background: url(./icon/tweet_icon.png) no-repeat;
  background-size: 100% 100%;
}
#icon_box .icon_page {
  background: url(./icon/page_icon.png) no-repeat;
  background-size: 100% 100%;
}
#icon_box .icon_message {
  background: url(./icon/message_icon.png) no-repeat;
  background-size: 100% 100%;
}

#icon_box .icon_tweet:hover {
  background: url(./icon/tweet_hovericon.png) no-repeat;
  background-size: 100% 100%;
}

#icon_box .icon_page:hover {
  background: url(./icon/page_hovericon.png) no-repeat;
  background-size: 100% 100%;
}

#icon_box .icon_message:hover {
  background: url(./icon/message_hovericon.png) no-repeat;
  background-size: 100% 100%;
}

.projectstitle_box .css-1ey68ak-MuiTypography-root {
  margin-left: 45px;
  margin-top: 1rem;
}
.symbol_icon {
  position: absolute;
  top: 1rem;
  width: 38px;
  height: 38px;
  /* padding-top: 1rem; */
}
@media screen and (max-width: 959px) {
  .symbol_icon {
    /* top: 0px; */
    top: 1rem;
  }
}

#icon_box {
  padding-top: 1rem;
}

#icon_box .icon_tweet_null {
  pointer-events: none;
  background: url(./icon/tweet_icon.png) no-repeat;
  background-size: contain;
}
#icon_box .icon_page_null {
  pointer-events: none;
  background: url(./icon/page_icon.png) no-repeat;
  background-size: contain;
}
#icon_box .icon_message_null {
  pointer-events: none;
  background: url(./icon/message_icon.png) no-repeat;
  background-size: contain;
}
