.css-1d7p1cj-MuiTypography-root {
  font-size: 32px;
}
.css-1266kxk-MuiButtonBase-root-MuiTab-root .css-17yibpu-MuiTab-wrapper {
  font-size: 32px;
}

.css-1yz4mcl > div > span.css-1914j7p-MuiLinearProgress-root {
  height: 10px;
}

.candidate_wrap {
  min-height: 100%;
  padding-top: 0px;
  padding-bottom: 80px;
  background-image: linear-gradient(#fff, #dfe3e8);
}

.erc_label {
  background: #fff;
  border: 1px solid #229a16;
  color: #229a16;
}

#cardtitle_wrap {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: flex-start;
}

.plancard_icon {
  align-self: center;
}

.card_title {
  font-size: 1.6rem;
  padding-left: 10px;
  margin: 0;
  text-align: left;
  box-sizing: border-box;
}

.card_subtitle {
  color: #637381;
  font-size: 16px;
}

.plancard_wrap {
  margin: 0;
}

.plancard_wrap li {
  align-items: center;
}

.text_effect {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -0.05em;
}

.porgessbar {
  background-color: #edeff1 !important;
}

.start_date {
  padding-top: 8px;
  border-top: 2px dotted #d5dee5;
  box-sizing: border-box;
  position: relative;
}

.centerText span {
  font-size: 16px;
  font-weight: bold;
}
.candidate_text {
  font-size: 16px;
  font-weight: bold;
}

#adverisement_wrap {
  padding-top: 136px;
}

.multipage_wrap {
  position: relative;
  background-image: linear-gradient(135deg, #04070b 0%, #243b51 100%);
  display: flex;
  justify-content: flex-end;
  height: 563px;
  border-radius: 16px;
}

#multi_box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.multi_bg {
  max-width: 460px;
  margin: 0 5% 0 0;
  width: 100%;
}

#multi_box .multi_text {
  width: 100%;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 20px;
}

#multi_box .icon_btn {
  margin-right: 35px;
}

#multi_box .icon_btn:last-child {
  margin-right: 0;
}

.cleanlnterfaces_title {
  font-size: 32px;
}

.projects_wrap {
  position: relative;
}
#icon_box {
  display: flex;
  position: absolute;
  top: 0;
  right: 15px;
}
#icon_box a {
  width: 36px;
  margin-right: 10px;
}
#icon_box a img {
  width: 100%;
}

#plan_card .css-17aciay {
  align-self: flex-end;
}

.scroll_down {
  display: block;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}

.scroll_down .scrolldown_text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 13px;
  font-weight: normal;
  color: #fff;
}
.scroll_down .scrolldown_text::before {
  display: block;
  content: '';
  width: 2px;
  height: 120px;
  position: absolute;
  background: #fff;
  left: -15px;
  animation: moveline 2.5s infinite;
  -moz-animation: moveline 2.5s infinite;
  -webkit-animation: moveline 2.5s infinite;
}

@keyframes moveline {
  0% {
    top: 0;
  }
  100% {
    top: 150px;
  }
}

@-webkit-keyframes moveline {
  0% {
    top: 0;
  }
  100% {
    top: 150px;
  }
}

@-moz--webkit-keyframes moveline {
  0% {
    top: 0;
  }
  100% {
    top: 150px;
  }
}

#finished_wrap {
  padding-top: 0px;
}

@media screen and (min-width: 960px) {
  #footer_wrap {
    padding: 0;
  }
  #footer_iconbox {
    margin-bottom: 0;
    margin-top: 0;
  }
  .footer_content {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
  }
  .footer_content .footer_logo {
    margin-bottom: 0;
    margin: 0;
  }
  .footer_content .footer_caption {
    margin-left: 20px;
    align-self: center;
    width: calc(100% - 373px);
    text-align: left;
  }
}

@media screen and (max-width: 959px) {
  .css-1266kxk-MuiButtonBase-root-MuiTab-root .css-17yibpu-MuiTab-wrapper {
    font-size: 20px;
  }
  .css-1d7p1cj-MuiTypography-root {
    font-size: 20px;
  }

  .cleanlnterfaces_title {
    font-size: 20px;
  }

  .multipage_wrap {
    justify-content: center;
    height: 903px;
    max-width: 456px;
    margin: 0 auto;
    flex-direction: column;
  }

  .multi_bg {
    max-width: 360px;
    margin: 0 auto 50px;
  }

  #multi_box {
    top: 0;
    transform: unset;
    position: relative;
    left: 0;
    text-align: center;
    justify-content: center;
  }

  #multi_box .multi_text {
    font-size: 30px;
  }

  #multi_box .icon_btn {
    margin-right: 20px;
  }

  .icon_btn img {
    width: 52px;
  }
}

@media screen and (max-width: 599px) {
  .scroll_down {
    display: none;
  }
  .multipage_wrap {
    height: 736px;
  }
  .multi_bg {
    margin: 0 auto 24px;
  }
  #multi_box .multi_text {
    font-size: 23px;
    text-align: center;
    margin-bottom: 40px;
  }
  #multi_box {
    left: 0;
    justify-content: center;
  }

  .icon_btn img {
    width: 44px;
  }

  #topcontent_wrap {
    padding-bottom: 10px;
  }
  #tabcard_wrap {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  #finished_wrap {
    padding-bottom: 50px;
  }
  .tabcard_loading {
    margin: 15px 0;
  }
  .view_btnwrap {
    margin: 24px 0 0 0;
  }
  #candidate_wrap {
    padding: 0 0 50px 0;
  }
  .pooltitle_wrap {
    margin: 0 0 24px 0;
  }
  #adverisement_wrap {
    padding: 40px 0;
  }
  #interfaces_wrap {
    padding: 0 16px 50px;
  }
}

@media screen and (max-width: 459px) {
  .multipage_wrap {
    height: auto;
    padding: 50px 0;
  }
}

@media screen and (max-width: 449px) {
  #multi_box .multi_text {
    font-size: 18px;
    text-align: center;
    width: 100%;
    left: 0;
    top: 20%;
  }
  .icon_btn img {
    width: 32px;
  }
}

@media screen and (max-width: 414px) {
  .erc_label {
    top: 24px;
    left: 24px;
  }
}

@media screen and (min-width: 414px) {
  #cardbox_wrap {
    padding: 20px;
  }
}
