.tab_Line {
  display: flex;
}
.apply_icon {
  cursor: pointer;
  margin-top: 8px;
  margin-left: 5px;
}
@media screen and (max-width: 960px) {
  .apply_icon {
    margin-top: 6px;
    width: 22px;
    height: 22px;
  }
}
